<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "includes/header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.full_name }}</title>
</head>
<body>
<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-4 card" style="width: 350px; margin-top: 10px;">
            <div class="card-divider">
                <h3>{{ empleado.get_job_display }}</h3>
            </div>
            {% if empleado.avatar %}
            <img src="{{ empleado.avatar.url }}">
            {% else %}
            <img src="{% static 'Images/avatar.jpg' %}">
            {% endif %}
            <div class="card-section">
                <p><h5>Nombre: {{ empleado.full_name }}</h5></p>
                <p>Area: {{ empleado.departamento.short_name}}</p>
                <p><span class="label">Habilidades:</span></p>
                <ul class="vertical menu">
                    {% for habilidades_empleado in empleado.habilidades.all %}
                    <li>{{ habilidades_empleado.habilidad }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock content %}

