    body {
        background-image: url("../Formularios/Imagenes/abarrotes.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #principal {
        width: 40%;
        border: 5px solid #e3e4e5;
        border-radius: 26px;
        margin: 0px auto;
        margin-top: 8.0em;
        background: #F9F9F9;
    }
    
    #principal #encabezado h1 {
        font-size: 27px;
    }
    
    #encabezado {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 40px;
    }
    
    #encabezado h4 {
        font-size: 18px;
    }
    
    #formulario {
        width: 85%;
        margin: 0px auto;
    }
    
    label {
        font-size: 20px;
        font-weight: 900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    form input[type="text"],
    form input[type="password"] {
        padding: 15px;
        border-radius: 2px;
        border: 1px solid #ccc;
        color: #333;
        cursor: pointer;
        width: 92%;
        margin: 12px 10px 15px 0;
        font-size: 17px;
        display: inline-block;
    }
    
    #final input[type="submit"] {
        /*background: #dc3545;
    /*background: #1a73e8;*/
        background: orange;
        opacity: 60%;
        padding: 15px;
        border: 1px solid #ccc;
        cursor: pointer;
        color: white;
        border-radius: 4px;
        width: 98.5%;
        margin-left: 2px;
        margin: 30px 0px 30px -2px;
        font-size: 15px;
        font-weight: 700;
    }
    
    #principal #formulario p a {
        margin: 0 auto;
        text-decoration: none;
        color: #1a73e8;
    }
    
    #principal #formulario p {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #principal #formulario #final {
        margin-top: 10px;
        /* padding: 15px;*/
        border-radius: 0px 0px 20px 20px;
        -moz-border-radius: 0px 0px 20px 20px;
        -webkit-border-radius: 0px 0px 20px 20px;
        border: 0px solid #000000;
    }
    
    h3 {
        text-align: center;
    }