<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'Css/foundation.min.css' %}" rel="stylesheet">
    <title>Hola</title>
</head>
<body>
<h1>Hola</h1>

<!-- 10.6 Practica Sistema de Grillas -->

<!-- CELL = Ocupar las 12 casillas -->
<!-- 10.6 Practica Sistema de Grillas -->
<!-- 10.6 cell large-4 grid-x para personalizar las casillas  -->

<div class="grid-x" style="border: 1px solid green;">
    <h2 class="cell small-12 large-10" style="border: 1px solid red">Elemento 1</h2>
    <h2 class="cell large-2" style="border: 1px solid blue">Elemento 2</h2>
    <h2 class="cell large-12" style="border: 1px solid blue">Elemento 3</h2>

    <div class="cell large-4 grid-x">
        <h4 class="cell large-10" style="border: 1px solid red">Otro elemento 2</h4>
        <h4 class="cell" style="border: 1px solid red">Otro elemento 3</h4>
        <h4 class="cell " style="border: 1px solid red">Otro elemento 4</h4>
    </div>

</div>

</body>
</html>